.container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
header{
  background-image: url(../../../assets/cover2.jpg);
  height: 505px;
  display: flex;
  align-items: center;
  background-size: cover;
  h1{
    font-family: "Roboto", sans-serif;
    font-size: 70px;
    color: #ffffff;
    margin-left: 23px;
    font-style: italic;
    mat-icon{
      font-size: 55px;
      padding: 10px;
    }

  }

}
mat-card {
  width: 29%;
  margin: 1%;
  background-color: #191919 ;
  color: #c3c3c3;
  mat-card-title{
    color: #ff8080;
  }
   mat-card-actions{
    color: #ff8080;
    display: flex;
    justify-content: space-between;
   }
   .price{
    font-size: 17px;
    color: #fedddd;
    span{
      font-weight: bold;
    }
   }
}
