.container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.lable{
  color: #ff8080;
  font-style: italic;
  font-size: 30px;
}
.wid{
  width: 80%;
}
form{
  padding: 40px 10px;
}
.btn{
  color: #ff8080;
}
